
<!-- Banner -->
<section
      class="bg-white text-dark p-5 p-lg-0 py-lg-5 text-center text-sm-start">
      <div class="container py-5">
        <div class="row align-items-center justify-content-between">
          <div class="col-md-6 col-lg-6">
            <h1 class="fw-bold display-3">Landing Page <span class="text-warning"> Products </span></h1>
            <p class="lead my-4 text-secondary">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, libero. Expedita, aut deleniti.
            </p>
            <button
              class="btn btn-primary btn-lg"> 
              Subscribe
            </button>
          </div>
          <div class="col-md-6 col-lg-6">
			<img 
            class="img-fluid  d-none d-sm-block"
            src="assets/home.svg"
            alt=""
          />
		  </div>
        </div> 
      </div>
    </section>

	<!-- Products -->
	<section class="py-5 bg-light text-dark">
		<div class="container p-5">
			<h2 class="display-4 text-center py-5">Products</h2>
		  <div class="row text-center g-4">
			<div class="col-md-6 col-lg-3">
			  <div class="card bg-light text-dark shadow">
				<img src="assets/clothes-02.svg" class="card-img-top" alt="">
				<div class="card-body text-center ">
				  <h3 class="card-title mb-3">Office Shirt</h3>
				  <p class="card-text text-danger fw-bold">
					$29.00
				  </p>
				</div>
			  </div>
			</div>
			<div class="col-md-6 col-lg-3">
			  <div class="card bg-light text-dark shadow">
				<img src="assets/clothes-03.svg" class="card-img-top" alt="">
				<div class="card-body text-center">
				  <h3 class="card-title mb-3">hood Shirt</h3>
				  <p class="card-text text-danger fw-bold">
					$30.00
				  </p>
				</div>
			  </div>
			</div>
			<div class="col-md-6 col-lg-3">
			  <div class="card bg-light text-dark shadow">
				<img src="assets/clothes-04.svg" class="card-img-top" alt="">
				<div class="card-body text-center">
				  <h3 class="card-title mb-3">T-Shirt</h3>
				  <p class="card-text text-danger fw-bold">
					$31.00
				  </p>
				</div>
			  </div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card bg-light text-dark shadow">
					<img src="assets/clothes-05.svg" class="card-img-top" alt="">
				  <div class="card-body text-center">
					<h3 class="card-title mb-3">Linen Shirt</h3>
					<p class="card-text text-danger fw-bold">
					$32.00
					</p>
				  </div>
				</div>
			  </div>
		  </div>
		</div> 
	  </section>

	  <!-- Conttact -->
	  <section class="py-5">
		<div class="container py-5">
		  <div class="row align-items-center justify-content-between">
			<div class="col-md">
			  <img src="assets/undraw-contact.svg" class="img-fluid" alt="" />
			</div>
			<div class="col-md p-5">
				<h2 class="display-4">Contact</h2>
				<form>

					
					<div class="row">
						<div class="col-md-12">
							<div class="md-form mb-0">
								<label for="name" class="pt-4">Your name</label>
								<input type="text" id="name" name="name" class="form-control">
								
							</div>
						</div>
	
						<div class="col-md-12">
							<div class="md-form mb-0">
								<label for="email" class="pt-4">Your email</label>
								<input type="text" id="email" name="email" class="form-control">
								
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<div class="md-form mb-0">
								<label for="subject" class="pt-4">Subject</label>
								<input type="text" id="subject" name="subject" class="form-control">
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							<div class="md-form">
								<label for="message" class="pt-4">Your message</label>
								<textarea type="text" class="form-control md-textarea"></textarea>
							</div>
						</div>
					</div>
				</form>
				<button type="button" class="btn btn-primary btn-block mt-2">Send</button>
			</div>
		  </div>
		</div>
	  </section>

	  <!-- Footer -->
	  <footer class="p-2 bg-dark text-white text-center">
		<div class="container">
		  <p>Copyright &copy; 2023 Natthaphong</p>
		</div>
	  </footer>
